<div class="main-container">
  <div class="inner-container">
  <section class="left-container">
    <div class="contact-message">
      <h2>Contact Me!</h2>
      <p>I appreciate you taking the time to visit my site. To get in touch all you need to do is submit the form and I will respond ASAP. </p>
      </div>
  </section>
  <section class="right-container">
    <form action="">
    <label for="name">Name</label>
    <input type="text">
    <label for="email">Email</label>
    <input type="email">
    <label for="message">Message</label>
    <textarea name="message" id="" cols="30" rows="10"></textarea>
    <button>Submit</button>
  </form>
  </section>
</div>
</div>