<div class="i">
  <div class="i-left">
    <div class="i-left-wrapper">
      <h1 class="i-intro">Hi, I'm Jack</h1>
      <h2 class="i-sub">
        Welcome to my site! <br />
        This SPA utilizes:
      </h2>
      <div class="i-title">
        <div class="i-title-wrapper">
          <div class="i-title-item" [ngStyle]="{color: '#e34c26'}">HTML</div>
          <div class="i-title-item" [ngStyle]="{color: '#2965f1'}">CSS</div>
          <div class="i-title-item" [ngStyle]="{color: '#f0db4f'}">
            Javascript
          </div>
          <div class="i-title-item" [ngStyle]="{color: '#007acc'}">
            Typescript
          </div>
          <div class="i-title-item" [ngStyle]="{color: '#a6120d'}">Angular</div>
        </div>
      </div>
    </div>
  </div>
  <div class="i-right"></div>
</div>
<app-about></app-about>
<app-recent-projects></app-recent-projects>
<app-cool-animations></app-cool-animations>
<app-contact></app-contact>
