<div class="a">
  <div class="a-left"></div>
  <div class="a-right">
    <h1 class="a-title">About My Site</h1>
    <p class="a-sub">
      As a portfolio page, the goal is to showcase my abilities.
    </p>
    <p class="a-desc">So, lets see what kind of cool things we can do!</p>
    <div class="angular">
      <img src="/assets/angular-logo.svg" alt="" class="angular-img" />
      <div class="angular-text">
        <h4 class="angular-title">Built entirely in Angular</h4>
      </div>
    </div>
  </div>
</div>
